<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="YourWebAppID"
    version="2.5">

  <display-name>Spring Hateoas Rest Service</display-name>
  <servlet>
    <!-- protected rest servlet, by convention configured in WEB-INF/restfulaccess-servlet.xml -->
    <servlet-name>rest-service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest-service</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
